.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h1
        = task.new_record? ? 'New Task' : "Editing task #{task.title}"
    = simple_form_for task, class: 'clearfix', remote: true do |f|
      .modal-body
        = f.input :title
        = f.input :note
        = f.input :completed, as: :string, input_html: { class: 'datepicker', value: task.completed.present? ? localize(task.completed, format: '%d/%m/%Y') : nil }
      .modal-footer
        = f.submit 'Save', class: 'btn btn-primary'