!!!
%html
  %head
    %title Todo
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .jumbotron.text-center
          %h1
            ToDo
            %br
            %small Tutorial application
          = link_to 'New task', new_task_path, class: 'btn btn-primary', remote: true
          .text-center
            %strong= current_user.email
          .text-center
            = link_to 'logout', destroy_user_session_path, method: :delete
    = yield
