!!!
%html
  %head
    %title Todo
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .col-xs-10.col-xs-offset-1
          .jumbotron.text-center
            %h1
              ToDo
            %p
              Welcome to the tutorial's ToDo application
      .row
        .col-xs-4.col-xs-offset-4
          = render 'shared/flash'
      .row
        .col-xs-4.col-xs-offset-4
          = yield